<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical work 3</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h2>Logo</h2>
        <nav>
            <a href="#">Главная</a>
            <a href="#">Раздел 1</a>
            <a href="#">Раздел 2</a>
            <a href="#">Раздел 3</a>
        </nav>
    </header>
    <section>
        <div class="content-container">
            <div class="text-container">
                <h1>Random title</h1>
                <p class="subtitle">
                    Lo-rem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates eum, eaque odit mollitia blanditiis, ipsa assumenda consequuntur atque fuga beatae cupiditate quisquam aliquid ea, doloremque dicta vel officia nisi.
                </p>
            </div>
            <img src="" alt="Главное изображение">
        </div>
    </section>
</body>
</html>
