<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работа с Flexbox</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <a id="logo-ref" href="#"><img id="logo" src="https://cdn-icons-png.flaticon.com/512/3698/3698156.png" alt="Логотип"></a>
        <nav>
            <a href="#home">Главная</a>
            <a href="#section-1">Раздел 1</a>
            <a href="#section-2">Раздел 2</a>
            <a href="#section-3">Раздел 3</a>
        </nav>
    </header>
    <section id="home">
        <div class="gradient-card">Gradient 1</div>
        <div class="gradient-card">Gradient 2</div>
        <div class="gradient-card">Gradient 3</div>
    </section>
    <footer>2021 © Student MIREA. ALL RIGHTS RESERVED</footer>
</body>
</html>
